@model WITU.Models.Result.ProgressionForm

@{
    Layout = null;
}

@using (@Html.BeginForm("Progression", "Result", null, FormMethod.Post, new
{
    @class = "form-horizontal frm-show-dialog", role = "form", id = "frm-progression"
}))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.Raw(Html.UnEncodedValidationSummary())
    </div>
    
    @Html.EditorFor(m => m.ProgramSelectItem)
    
    <div class="form-group col-md-12">
        @Html.LabelFor(m => m.AcademicYearId, new {@class = "col-md-4 control-label"})
        <div class="col-md-8">
            @Html.DropDownWithModelSelectable(m => m.AcademicYearId, Model.AcademicYearOptions,
                Model.ProgramSelectItem.AdministrativeSelectItem.DefaultFirstItem,
                new {@class = "form-control", id = "drpdwn-academic-year"})
        </div>
    </div>
    
    <div class="form-group col-md-12">
        @Html.LabelFor(m => m.StudentStatus, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.DropDownListForEnum(model => model.StudentStatus, "-- All --", new { @class = "form-control" })
        </div>
    </div>

    <div class="pull-right col-md-offset-4">
        <button type="submit" class="btn saveBtn" onclick="javascript: showLoadingDialog('Loadin Students...');">
            Load Students
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </div>
}