@using System.Activities.Expressions
@using WITU.Core.Model
@using WITU.Utils
@using WITU.Core.Model
@model WITU.Models.RegistrationView
@{
    ViewBag.Title = "Course Exemption";
}


@if (Model != null)
{
    @*if (ViewBag.RequestedExemption == false)
    {
        <div id="CreditStatus" class="fright alert-warning"></div>
    }*@
    
    //if (Model.ResultStatus != (decimal)StudentStatus.Absconded && Model.ResultStatus != (decimal)StudentStatus.Graduated)
    //{
        <h4 class="maroonHeader">Course Exemption</h4>
        if(ViewBag.RequestedExemption == false)
         {
                <b>Please select the courses you would like to be Exempted from</b>
         }
         
         if(ViewBag.RequestedExemption == true)
         {
                <b>These are the course you requested to be exempted from this semester.</b>
         }
    
        using (Html.BeginForm("CourseExemption", "Registration", FormMethod.Post))
        {
            int i;
            for (i = 0; i < Model.ProgramDuration; i++)
            {
                <div>
                    @Html.ValidationSummary(true)

                </div>

                <div class="form-horizontal tabs bodytext tabs-pilled noborder">

                    <ul class="">

                        @for (i = 0; i < Model.ProgramDuration; i++)
                        {
                            <li>
                                <a href="#Year@(i)" role="tab" data-toggle="tab">
                                    Year @(i + 1)
                                </a>
                            </li>
                        }
                    </ul>

                    @for (i = 0; i < Model.ProgramDuration; i++)
                    {
                        <div id="Year@(i)" class="bodytext tab-pane nopadding ">
                            <div class="clearfix">
                                <br />
                            </div>

                            <div class="form-horizontal noborder">
                                <h5>Semester I</h5>

                                <br />
                                <table class="table" id="">
                                    <thead>

                                        <tr>
                                            <th class="fa fa-inbox">

                                            </th>
                                            <th>
                                                Course Code
                                            </th>
                                            <th>
                                                Course Name
                                            </th>
                                            <th>
                                                Credit Units
                                            </th>
                                            <th>
                                                Course Type
                                            </th>
                                            <th>
                                                Remarks
                                            </th>

                                        </tr>

                                    </thead>
                                    <tbody>
                                        @if (Model.CoursesList != null)
                                        {
                                            foreach (var m in Model.CoursesList)
                                            {
                                                if ((m.SemesterLevel.Level == (i + 1)) && m.SemesterLevel.SemesterSession == 1)
                                                {
                                                    <tr>
                                                        <td>
                                                            @if(ViewBag.RequestedExemption == false)
                                                            {
                                                            <input name="selectedCourses" type="checkbox" @*onchange="addCreditUnitsSum(@m.CreditUnits, @m.Id)"*@ autocomplete="off" class="course_checked_@m.Id" value="@m.StudentCourseId" />
                                                            }
                                                        </td>

                                                        <td>
                                                            @m.Code
                                                        </td>


                                                        <td>
                                                            @m.Name
                                                        </td>
                                                        <td class="creditUnitVal">
                                                            @m.CreditUnits
                                                        </td>
                                                        <td>
                                                            @if (m.CourseType == CourseType.Core)
                                                            {
                                                                <p>Core</p>
                                                            }
                                                            @if (m.CourseType == CourseType.Elective)
                                                            {
                                                                <p>Elective</p>
                                                            }
                                                            @if (m.CourseType == CourseType.Audited)
                                                            {
                                                                <p>Audited</p>
                                                            }

                                                        </td>
                                                        <td>
                                                           @m.Remark
                                                        </td>
                                                    </tr>
                                                }


                                            }
                                        }
                                    </tbody>
                                </table>
                                <br />
                                <br />
                                <h5>Semester II</h5>
                                <br />

                                <table class="table" id="">
                                    <thead>

                                        <tr>
                                            <th class="fa fa-inbox">

                                            </th>
                                            <th>
                                                Course Code
                                            </th>
                                            <th>
                                                Course Name
                                            </th>
                                            <th>
                                                Credit Units
                                            </th>
                                            <th>
                                                Course Type
                                            </th>
                                            <th>
                                                Remarks
                                            </th>

                                        </tr>

                                    </thead>
                                    <tbody>
                                        @if (Model.CoursesList != null)
                                        {
                                            foreach (var m in Model.CoursesList)
                                            {
                                                if ((m.SemesterLevel.Level == (i + 1)) && m.SemesterLevel.SemesterSession == 2)
                                                {
                                                    <tr>
                                                        <td>
                                                            @if(ViewBag.RequestedExemption == false)
                                                            {
                                                            <input name="selectedCourses" type="checkbox" @*onchange="addCreditUnitsSum(@m.CreditUnits, @m.Id) "*@ autocomplete="off" class="course_checked_@m.Id" value="@m.Id" />
                                                                }
                                                        </td>

                                                        <td>
                                                            @m.Code
                                                        </td>


                                                        <td>
                                                            @m.Name
                                                        </td>
                                                        <td class="creditUnitVal">
                                                            @m.CreditUnits
                                                        </td>
                                                        <td>
                                                            @if (m.CourseType == CourseType.Core)
                                                            {
                                                                <p>Core</p>
                                                            }
                                                            @if (m.CourseType == CourseType.Elective)
                                                            {
                                                                <p>Elective</p>
                                                            }
                                                            @if (m.CourseType == CourseType.Audited)
                                                            {
                                                                <p>Audited</p>
                                                            }
                                                        </td>
                                                        <td>
                                                           @m.Remark
                                                        </td>
                                                    </tr>
                                                }


                                            }
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    }

                    @Html.HiddenFor(model => model.MaximumSemLoad, new { id = "MaximumSemLoad" })
                    @Html.HiddenFor(model => model.StudentId)


                </div>

                if (ViewBag.RequestedExemption == false)
                {
                    <div class="pull-right ">
                        <input type="submit" value="Submit Exemptions" class="btn saveBtn" />

                        <input type="button" value="Cancel"
                               onclick="javascript: cancelSubmission('@Url.Action(" register", "Registration")'); " class=" btn delbtn" />


                        <div class="clearfix"> </div>
                    </div>

                }

            }


        }
    }
@*}*@

