@model IEnumerable<WITU.Models.Courses.CourseModel>

<div class="table-responsive ">
    <table class="table dataTable tbl-campus-programs">
        <thead>
            <tr>
                <th>Course</th>
                <th>Specialization</th>
                <th>Commitment</th>
                <th>Overview</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr onclick="location.href = '@Url.Action("Course", "Courses", new {id = @course.Course.Id})' " style="cursor: pointer;">
                    <td>
                        @course.Course.Name
                    </td>
                    <td>
                        @course.Course.CourseCategory.Name
                    </td>
                    <td>@course.Course.MinimumWeeks - @course.Course.MaximumWeeks Weeks, @course.Course.MinimumHoursWeekly - @course.Course.MaximumHoursWeekly hours/week</td>
                    <td>
                        @course.Overview
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

