@using ARMSv2.Core.Model
@using ARMSv2.Utils
@model IEnumerable<ARMSv2.Models.ProgramModel>

<div>
   
    <div class="table-responsive ">
        <table class="table dataTable tbl-campus-programs">
            <thead>
                <tr>
                    <th>Program Name</th>
                    <th>Faculty</th>
                    <th>
                        <select id="drdTuitition" class="col-xs-12">
                            <option value="0">Study Times(UGX Tuition)</option>
                            <option value="1">Study Times(USD Tuition)</option>
                        </select>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prog in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(prog.Program.ProgramCore.Name, "View", new { id = @prog.Program.Id, controller = "Exams" })</td>
                        <td>@Html.ActionLink(prog.Program.Faculty.FacultyCore.Name, "View", new { id = @prog.Program.Id, controller = "Exams" })</td>
                        <td>
                            @for (var i = 0; i < @prog.ProgramStudyTimeSummaries.Count; i++)
                            {
                                <label>@prog.ProgramStudyTimeSummaries[i].StudyTime</label>
                                @*<label>(</label>
                                <label class="tuition-ugx">@prog.ProgramStudyTimeSummaries[i].Tuition</label>
                                <label class="tuition-dollar">@prog.ProgramStudyTimeSummaries[i].DollarTuition</label>
                                <label>)</label>*@
                                if (i != prog.ProgramStudyTimeSummaries.Count - 1)
                                {
                                    <label>,</label>
                                }
                            }
                            @*@prog.StudyTimesSummary*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
    <br/>
    <br/>
</div>