@using Microsoft.AspNet.Identity
@model WITU.Models.ManageUserViewModel



@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 class="blueHeader passwdHeader">Update Your Password - @User.Identity.GetUserName()</h4>
 
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-sm-4 col-md-4 control-label" })
        <div class="col-sm-8 col-md-8">
            @Html.PasswordFor(m => m.OldPassword, new { @class = " form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-sm-4 col-md-4 control-label" })
        <div class="col-sm-8 col-md-8">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-4 col-md-4 control-label" })
        <div class="col-sm-8 col-md-8">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group nomargin">
        <div class="fright">
            <input type="submit" value="Change password" class="btn saveBtn" />
        </div>
    </div>
}
