
@using ARMSv2.Core.Model
@model ARMSv2.Models.SemesterView
<script>
    
    $(document).ready(function () {
        var table = $('.semesterTable').DataTable({
            "columnDefs": [
                { "visible": false, "targets": 0 }
            ],
            "order": [[0, 'desc'], [2, 'desc']],
            "displayLength": 25,
            "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({ page: 'current' }).nodes();
                var last = null;

                api.column(0, { page: 'current' }).data().each(function (group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before(
                            '<tr class="group"><td colspan="5">' + group + '</td></tr>'
                        );

                        last = group;
                    }
                });
            }
        });

        // Order by the grouping
        $('.semesterTable tbody').on('click', 'tr.group', function () {
            var currentOrder = table.order()[0];
            
            if (currentOrder[0] === 0 && currentOrder[1] === 'asc') {
                table.order([0, 'desc']).draw();
            }
            else {
                table.order([0, 'asc']).draw();
            }
            
        });
    });
</script>
<style>
    tr.group,
    tr.group:hover {
        background-color: #ddd !important;
        color: #650300 !important;
    }
</style>
<table class="table semesterTable">
    <thead>

        <tr>
            <th>
                Academic Year
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Registration Deadline
            </th>
            <th>
                Results Upload Deadline
            </th>

        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model.SemesterConfigurationDetails)
        {
            <tr>
                <td>
                    @item.AcademicYear.Name
                </td>
                <td>
                    @item.StartDate.ToString("dd MMMM yyyy")
                </td>
                <td>
                    @item.EndDate.ToString("dd MMMM yyyy")
                </td>
                <td>
                    @item.RegistrationDeadline.ToString("dd MMMM yyyy")
                </td>
                <td>
                    @item.ResultsUploadDeadline.ToString("dd MMMM yyyy")
                </td>
            </tr>
        }
    </tbody>
</table>


